.actionbar{
  display: flex;
  justify-content: center;
}

.menu_btn{
  border: 0;
  height: 2vh;
  width: 2vh;
  border-radius: 100%;
  margin-left: 1vw;
}
.menu_btn--white{
  background-color: black;
}
.contenaire{
  height: 30vh;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  border: 1px solid black;
}

.timer_actionbar{
  display: flex;
  justify-content: center;
}

.timer_btn{
  height: 3vh;
  width: 6vh;
  margin: 2rem;
}
.timer_text{
  text-align: center;
}

.setting_work, .setting_break{
  display: flex;
  justify-content: center;
  align-content: center;
  
}
span{
  text-align: center;
}
input[type="number"]{
  height: 5vh;
  width: 5vh;
  margin-right: 5rem;
}

.setting{
  display: block;
  align-content: center;
  justify-content: center;
}

.bg_green{
  background-color: green;
}

.bg_red{
  background-color: red;
}